<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chart</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
        <link rel="stylesheet" href="{% static 'gmap.css' %}">

	<style>
    .side-nav .collapsible > li {
    	background: white;
    }
    .side-nav .collapsible > li:hover {
    	background: white;
    }
		.select-wrapper input.select-dropdown {
			color: white;
		}

		.progress .indeterminate {
			background-color: orange;
		}

	</style>

</head>
<body>
    <ul id="slide-out" class="side-nav fixed">
	<li><a href="/">Back</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="active">
                    <a class="active collapsible-header bold">圖表<i class="mdi-navigation-arrow-drop-down"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{% url 'gmap' reportId %}">地圖</a></li>
                            <li><a href="{% url 'piechart' reportId %}">圓餅圖</a></li>
                            <li class="active"><a href="#">雷逹圖</a></li>
                            <li><a href="{% url 'linechart' reportId %}">折線圖</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="content	 grey darken-4" style="width: 100%; height: 100%; background: #efefef;">
	<div class="section"></div>
	<div class="row">
		<div class="col s8 offset-s2 center-align teal accent-3 card" style="overflow: visible;">
			<div class="col s1 center-align" style="vertical-align: middle !important;">
				<div class="section">
					<i class="material-icons prefix small lime-text text-accent-2" >today</i>
				</div>
			</div>
			<div class="input-field col s3">	
    				<select id="y1">
      					<option value="" disabled selected>請選擇年份</option>
      					<option value="1998">1998</option>
      					<option value="1999">1999</option>
      					<option value="2000">2000</option>
						<option value="2001">2001</option>
						<option value="2002">2002</option>
						<option value="2003">2003</option>
						<option value="2004">2004</option>
						<option value="2005">2005</option>
						<option value="2006">2006</option>
						<option value="2007">2007</option>
						<option value="2008">2008</option>
						<option value="2009">2009</option>
						<option value="2010">2010</option>
						<option value="2011">2011</option>
						<option value="2012">2012</option>
						<option value="2013">2013</option>
						<option value="2014">2014</option>
						<option value="2015">2015</option>
    				</select>
  			</div>
  			<div class="input-field col s2">	
    				<select id="m1">
      					<option value="" disabled selected>月份</option>
      					<option value="0">全年</option>
      					<option value="1">1</option>
      					<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
    				</select>
  			</div>
  			<div class="col s1 center-align" style="vertical-align: middle !important;">
				<div class="section">
					<i class="material-icons prefix small pink-text" >today</i>
				</div>
			</div>
			<div class="input-field col s3">	
    				<select id="y2">
      					<option value="" disabled selected>請選擇年份</option>
      					<option value="1998">1998</option>
      					<option value="1999">1999</option>
      					<option value="2000">2000</option>
						<option value="2001">2001</option>
						<option value="2002">2002</option>
						<option value="2003">2003</option>
						<option value="2004">2004</option>
						<option value="2005">2005</option>
						<option value="2006">2006</option>
						<option value="2007">2007</option>
						<option value="2008">2008</option>
						<option value="2009">2009</option>
						<option value="2010">2010</option>
						<option value="2011">2011</option>
						<option value="2012">2012</option>
						<option value="2013">2013</option>
						<option value="2014">2014</option>
						<option value="2015">2015</option>
    				</select>
  			</div>
  			<div class="input-field col s2">	
    				<select id="m2">
      					<option value="" disabled selected>月份</option>
      					<option value="0">全年</option>
      					<option value="1">1</option>
      					<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
    				</select>
  			</div>

		</div>	
		<div class="col s8 offset-s2 center-align teal accent-3 card" style="padding-top: 13px;">
			<div class="progress" style="display: none;">
      			<div class="indeterminate"></div>
  			</div>
			
			<canvas id="myChart"></canvas>


			<a class="orange modal-trigger waves-effect waves-light btn right" href="#modal1" id="trigger" style="margin-bottom: 10px;">發表看法</a>


			<fb:login-button scope="public_profile,email,publish_actions" onlogin="checkLoginState();" class="right" style="margin-right: 13px;">
    		</fb:login-button>

		</div>

		
	</div>

	<div id="status" style="display:none;">
    </div>

	<div id="modal1" class="modal modal-fixed-footer">
	    <div class="modal-content">
	      	<h4>對這份資料有什麼看法呢？</h4>
	      	<input type="text" value="" id="msg"/>
			<canvas id="tmpCanvas"></canvas>
	    </div>
	    <div class="modal-footer">
	      <a  class="modal-action modal-close waves-effect waves-green btn-flat " onclick="upload(); Materialize.toast('已發布至Facebook', 4000);">發布到 FB</a>
	    </div>
  	</div>
  	</div>

</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
<script src="{% static 'Chart.js' %}"></script>
<script rel="text/javascript" src="{% static 'radar.js' %}"></script>

<script>
	$('document').ready(function() {

		$('.modal-trigger').leanModal();

		$('#m1').change(function() {
			if($('#y1').val() != null) {
				
				$('.progress').show(0);
				$.ajax({
					url: "/yearreport/1",
					data: {
						year : $('#y1').val(),
						month: $('#m1').val()
					}, 
					success: function(result) {
						console.log(result);
						
						for(i = 0; i < 15; i++)  {
							myRadarChart.datasets[0].points[i].value = result.result[i];
							console.log(result.result[i]);
						}
						myRadarChart.update();
						$('.progress').hide(0);
						
					}
				});
				
			}
		});

		$('#y1').change(function() {
			if($('#m1').val() != null) {
				
				$('.progress').show(0);
				$.ajax({
					url: "/yearreport/1",
					data: {
						year : $('#y1').val(),
						month: $('#m1').val()
					}, 
					success: function(result) {
						console.log(result);
						
						for(i = 0; i < 15; i++)  {
							myRadarChart.datasets[0].points[i].value = result.result[i];
							console.log(result.result[i]);
						}
						myRadarChart.update();
						$('.progress').hide(0);
						
					}
				});
				
			}
		});

		$('#m2').change(function() {
			if($('#y2').val() != null) {
				
				$('.progress').show(0);
				$.ajax({
					url: "/yearreport/1",
					data: {
						year : $('#y2').val(),
						month: $('#m2').val()
					}, 
					success: function(result) {
						console.log(result);
						
						for(i = 0; i < 15; i++)  {
							myRadarChart.datasets[1].points[i].value = result.result[i];
							console.log(result.result[i]);
						}
						myRadarChart.update();
						$('.progress').hide(0);
						
					}
				});
				
			}
		});

		$('#y2').change(function() {
			if($('#m2').val() != null) {
				
				$('.progress').show(0);
				$.ajax({
					url: "/yearreport/1",
					data: {
						year : $('#y2').val(),
						month: $('#m2').val()
					}, 
					success: function(result) {
						console.log(result);
						
						for(i = 0; i < 15; i++)  {
							myRadarChart.datasets[1].points[i].value = result.result[i];
							console.log(result.result[i]);
						}
						myRadarChart.update();
						$('.progress').hide(0);
						
					}
				});
				
			}
		});

	})


		// This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response)
    {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected')
        {
            // Logged into your app and Facebook.
            testAPI();
        }
        else if (response.status === 'not_authorized')
        {
            // The person is logged into Facebook, but not your app.
            document.getElementById('status').innerHTML =
                'Please log ' +
                'into this app.';
        }
        else
        {
            // The person is not logged into Facebook, so we're not sure if
            // they are logged into this app or not.
            document.getElementById('status').innerHTML =
                'Please log ' +
                'into Facebook.';
        }
    }

     // This function is called when someone finishes with the Login
     // Button.  See the onlogin handler attached to it in the sample
     // code below.
    function checkLoginState()
    {
        FB.getLoginStatus(function(response)
        {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function()
    {
        FB.init(
        {
            appId: '741075659332423',
            cookie: true, // enable cookies to allow the server to access 
            // the session
            xfbml: true, // parse social plugins on this page
            version: 'v2.2' // use version 2.2
        });

        // Now that we've initialized the JavaScript SDK, we call 
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.

        FB.getLoginStatus(function(response)
        {
            statusChangeCallback(response);
        });

    };

     // Load the SDK asynchronously
    (function(d, s, id)
    {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "http://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

     // Here we run a very simple test of the Graph API after login is
     // successful.  See statusChangeCallback() for when this call is made.
    function testAPI()
    {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response)
        {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name +
                '!';
        });
    }
	

    $('#trigger').click(function() {
    	var c = document.getElementById("tmpCanvas");
		c.width = $('#myChart').width();
		c.height = $('#myChart').height();
		var ctx2 = c.getContext("2d");
		ctx2.rect(0, 0, window.innerWidth, window.innerHeight);
		ctx2.fillStyle = "#00bcd4";
		ctx2.fill();
		ctx2.drawImage(document.getElementById('myChart'), 0, 0);
	
    })


    function upload()
    {
    		var c = document.getElementById("tmpCanvas");

    		/*
			c.width = $('#myChart').width();
			c.height = $('#myChart').height();
			var ctx2 = c.getContext("2d");
			ctx2.rect(0, 0, window.innerWidth, window.innerHeight);
			ctx2.fillStyle = "#00bcd4";
			ctx2.fill();
			ctx2.drawImage(document.getElementById('myChart'), 0, 0);
			*/

			console.log(c.toDataURL('image/jpeg', 1));
			
			
			var dataURL = c.toDataURL();
			var onlyData = dataURL.substring(dataURL.indexOf(',')+1, dataURL.length);
  			var decoded = atob(onlyData);
  			var imageIwillPost = getFormData(decoded);

  			console.log(c.toDataURL());
            /*FB.api(
            "/me/photos",
            "POST",
            {
                'source': decoded
            },
            function(response)
            {
                if (response && !response.error)
                {
					console.log(response);
                    
				} else {
					console.log(response);
				}
            }
            
        );*/
	var authToken = FB.getAuthResponse().accessToken;
	console.log(authToken);
	var blob = dataURItoBlob(c.toDataURL());
	var fd = new FormData();
	fd.append("access_token",authToken);
	fd.append("source", blob);
	fd.append("message", $('#msg').val());

	$.ajax({
	    url:"https://graph.facebook.com/me/photos?access_token=" + authToken,
	    type:"POST",
	    data:fd,
	    processData:false,
	    contentType:false,
	    cache:false,
	    success:function(data){
		console.log("success " + data);
	    },
	    error:function(shr,status,data){
		console.log("error " + data + " Status " + shr.status);
	    },
	    complete:function(){
	    console.log("Posted to facebook");
	    }
	});
    }

    function getFormData(imageData){
  var boundary = '----ThisIsTheBoundary1234567890';
  var formData = '--' + boundary + '\r\n'
  formData += 'Content-Disposition: form-data; name="source"; filename="' + 'image-vaun.png' + '"\r\n';
  formData += 'Content-Type: ' + 'PNG' + '\r\n\r\n';
  for ( var i = 0; i < imageData.length; ++i ){
    formData += String.fromCharCode( imageData[ i ] & 0xff );}
  formData += '\r\n';
  formData += '--' + boundary + '\r\n';

  return formData;
}

function dataURItoBlob(dataURI) {
    var byteString = atob(dataURI.split(',')[1]);
    var ab = new ArrayBuffer(byteString.length);
    var ia = new Uint8Array(ab);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }
    return new Blob([ab], { type: 'image/png' });
}


var Base64Binary = {
	_keyStr : "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",

	/* will return a  Uint8Array type */
	decodeArrayBuffer: function(input) {
		var bytes = (input.length/4) * 3;
		var ab = new ArrayBuffer(bytes);
		this.decode(input, ab);

		return ab;
	},

	decode: function(input, arrayBuffer) {
		//get last chars to see if are valid
		var lkey1 = this._keyStr.indexOf(input.charAt(input.length-1));
		var lkey2 = this._keyStr.indexOf(input.charAt(input.length-2));

		var bytes = (input.length/4) * 3;
		if (lkey1 == 64) bytes--; //padding chars, so skip
		if (lkey2 == 64) bytes--; //padding chars, so skip

		var uarray;
		var chr1, chr2, chr3;
		var enc1, enc2, enc3, enc4;
		var i = 0;
		var j = 0;

		if (arrayBuffer)
			uarray = new Uint8Array(arrayBuffer);
		else
			uarray = new Uint8Array(bytes);

		input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");

		for (i=0; i<bytes; i+=3) {
			//get the 3 octects in 4 ascii chars
			enc1 = this._keyStr.indexOf(input.charAt(j++));
			enc2 = this._keyStr.indexOf(input.charAt(j++));
			enc3 = this._keyStr.indexOf(input.charAt(j++));
			enc4 = this._keyStr.indexOf(input.charAt(j++));

			chr1 = (enc1 << 2) | (enc2 >> 4);
			chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
			chr3 = ((enc3 & 3) << 6) | enc4;

			uarray[i] = chr1;
			if (enc3 != 64) uarray[i+1] = chr2;
			if (enc4 != 64) uarray[i+2] = chr3;
		}

		return uarray;
	}
}


	
</script>

</html>
