<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chart</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

</head>
<body>
	<div class="section"></div>
	<div class="section"></div>
	<div class="section"></div>
	<div class="row">
		<div class="col s6 offset-s3 center-align cyan darken-1 card" style="padding-top: 13px;">
			<canvas id="myChart"></canvas>
		</div>
	</div>

	<a class="waves-effct waves-light btn" id="2003" >2003</a>
	<a class="waves-effct waves-light btn" id="2004" >2004</a>
	<a class="waves-effct waves-light btn" id="2005" >2005</a>
	<a class="waves-effct waves-light btn" id="2006" >2006</a>
	<a class="waves-effct waves-light btn" id="2007" >2007</a>
	<a class="waves-effct waves-light btn" id="2008" >2008</a>

</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
<script src="{% static 'Chart.js' %}"></script>
<script rel="text/javascript" src="{% static 'radar.js' %}"></script>
</html>
